html {
    height: 100%;
}

body {
    height: 100%;
}

#__next {
    height: 100%;
}

.bg-primary {
    @apply bg-primary-300
}

/* unvisited link */
a:link {
    @apply text-primary-700;
}

/* visited link */
a:visited {
    @apply text-primary-900;
}

/* mouse over link */
a:hover {
    @apply text-primary-600;
}

/* selected link */
a.active {
    @apply text-primary-700 font-bold;
}

.error-text {
    @apply text-danger-500;
}

.button-primary {
    @apply bg-primary-300 block text-center rounded p-2 shadow text-primary-900
}
